<!DOCTYPE html>

<!DOCTYPE html>
<title>check out the pets</title>

<html>
<head>
    <link rel="stylesheet" href="/public/site.css" />
    <meta charset="utf-8">
<header id="pageHeader">
{{{header}}}

<h4 style="text-align:center">check out the pets</h4>

</header>



<article id="mainArticle">
<div style="text-align: center">


     <h3> homies </h3> {{{homies}}}
 </div>




</article>
<footer id="pageFooter">{{{footer}}}</footer>
</html>
