<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/site.css" />

<header id="pageHeader"> {{{header}}}
<h3 style="text-align:center"> LOGIN </header>
<article id="mainArticle">
  <form id="login" action="/login" method="post">
    <label>Username:</label>
    <input type="text" name="username"  placeholder="Username">
    <label>Password:  </label>
    <input type="password" name="password"  placeholder="Password">
    <button  type="submit">Submit</button>
  </form>
<h4> {{text}} </h4>
</article>
<footer id="pageFooter">{{{footer}}}</footer>
</html>
