<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/site.css" />
    <title></title>

</head>
<header id="pageHeader">
{{{header}}}
<h3 style="text-align:center"> LOGIN </header>
<article id="mainArticle">
  <div>
  <form id="signup" action="/signup" method="post">
    <label>Username:</label>
    <input type="text" name="username"  placeholder="Username">
    <label>Password:  </label>
    <input type="password" name="password"  placeholder="Password">
    <input type="name", name ="name", placeholder="Name">
    <input type="bio", name="bio", placeholder="Bio">
    <button  type="submit">Submit</button>
  </form>
  </div>
  <h4> {{text}} </h4>
</article>
<footer id="pageFooter">{{{footer}}}</footer>
</html>
