<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/public/site.css" />
    <meta charset="utf-8">
    <title>Error</title>
    <p> your input was not a palindrome, sorry </p>
    <a href='/'> Try Another Palindrome </a>

</body>
</html>
