<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/site.css" />
    <meta charset="utf-8">
    <title>The Best Palindrome Checker in the World</title>
</head>
<body>
    <main>
      <p>
        This is a palindrome checker baby. A palindrome is a word or phrase that's spelled the same
        backwards and forward. like "rats live on no evil star" enjoy fellas.
      </p>
      <form action="/result" method="post">
        <input type="text-to-test"  name="text-to-test"><br>
        <button type="submit">Submit</button>
      </form>
    </main>
    <footer> Ian Wright - 10407090 :) </footer>
</body>
</html>
