<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/site.css" />
    <meta charset="utf-8">
    <title>The Best Palindrome Checker in the World</title>
</head>
<body>
     <ul>
       <li> first name: {{firstName}} </li>
       <li> last name: {{lastName}} </li>
       <li> profession: {{profession}} </li>
       <li> bio: {{bio}} </li>
       
    </main>
    <footer> <a href="/logout"> logout </a> </footer>

</body>
</html>
